.product-section {
  background-color: #f9f7f2;
  .all-title {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;

    .title {
      justify-content: center;
      justify-items: center;
      h1 {
        width: 31.373rem;
        height: 3.875rem;
        color: rgba(28, 28, 28, 1);
        white-space: nowrap;

        font-family: Manrope;
        font-size: 45px;
        font-weight: 800;
        line-height: 61px;
        letter-spacing: 0px;
        text-align: center;
      }
      p {
        width: 56.3125rem;
        height: 3.5rem;
        color: rgba(119, 119, 119, 1);

        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: center;
      }
    }
  }

  .cards {
    padding: 20px;
    width: 91%;
    margin: 0 auto;

    display: flex;
    gap: 24px;
    justify-content: center;
    justify-items: center;
    .card {
      display: flex;
      justify-content: center;
      justify-items: center;
      div {
        justify-content: center;
        justify-items: center;
      }

      width: 267px;
      height: 391px;
      border-radius: 10px;
      background: linear-gradient(
        180deg,
        rgba(244, 244, 244, 1),
        rgba(244, 244, 244, 0) 100%
      );

      .img {
        margin-top: 30px;

        width: 135px;
        height: 212px;
        img {
          width: 100%;
        }
      }
      .info {
        /* Group 11 */
        width: 208px;
        margin-top: 30px;
        height: 89px;
        h1 {
          width: 98px;
          height: 35px;
          color: rgba(28, 28, 28, 1);
          white-space: nowrap;

          font-family: Manrope;
          font-size: 25px;
          font-weight: 800;

          text-align: center;
        }
        p {
          width: 208px;
          height: 44px;
          text-align: center;
          font-size: 16px;
          color: #777777;
          font-weight: 600;
        }
      }
    }
  }
}
